html {
	min-height: 100%;
}
body {
	font-family: 'Helvetica','Arial';
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fff, #ddd);
}
#infovis {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 5;
	overflow: hidden;
}
#infovis-canvas {
	cursor: pointer;
	cursor: move;
}
.node2 {
	border: 3px solid #ddd;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 48px;
	height: 48px;
	font-size: 12px;
	-moz-box-shadow: 1px 1px 1px #999;
	-webkit-box-shadow: 1px 1px 1px #999;
	box-shadow: 1px 1px 1px #999;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding: 0px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	background-color: #eee;
	position: absolute;
	left: 0px;
	background-size: 48px 48px;
}
.node2.tweet, .node2.domain, .node2.directNode {
	border: 3px solid #3b5997;
}
.node2.mention.sub-mention {
    border-color: #fff;
}
.node2.mention.sub-retweet {
    border-color: #85E4FF;
}
.node2.rootNode {
	background-image:url(/img/screenshot-48.png)
}
.node2.directNode {
	background-image:url(/img/crowd.png)
}
.children {
	border: 2px solid #fff;
	-moz-border-radius: 50px;
	border-radius: 50px;
	z-index: 10;
	position: absolute;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
	background-color: red;
	padding: 2px;
	top: 0px;
	left: 40px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;	
}
.info {
	position: absolute;
	top: 67px;	
	height: 75px;		
	border: 3px solid #67BBF0;
	-moz-box-shadow: 1px 1px 1px #999;
	-webkit-box-shadow: 1px 1px 1px #999;
	box-shadow: 1px 1px 1px #999;
	background-color: #fff;
	font-size: 12px;
	padding: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	visibility: hidden;
}
.info.selected {
	visibility: visible
}
.info h2 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
}
.info.rootNode {
	left: -100px;
	width: 200px;
	height: 40px;
	text-align: center;
}
.info.directNode {
	text-align: center;
	height: 40px;
	left: -60px;
	width: 120px;
	height: 30px;
}
.info.domain {
	left: -120px;
	width: 240px;
	height: 50px;
}
.info.domain h2, .info.directNode h2 {
	text-align: center;
	margin-bottom: 5px;
}
.info.tweet {
	left: -200px;
	width: 400px;
}
.info .tweetbody {
	font-family:Georgia;
	font-size: 13px;
}
.info .fulltweet {
	padding: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	height: 32px;
	margin-bottom: 3px;
}
.info .date {
	margin-bottom: 3px;
	color: #aaa;
}
.info .followers {
	float: right;
	color: #aaa;
}
.info.tweet .mentions {
	float: right;
	color: #aaa;
}
.info.tweet .directViews, .info.tweet .totalViews {
	font-size: 11px;
    position: relative;
    top: -1.2em;
}
.info.mention {
	left: -200px;
	width: 400px;
	height: 60px;
}